.vbox {

}

.vbox2{
    -fx-background-color: #f0cede;
}

.image_btn {
    -fx-background-color: #1c1c1c;
}

.menuBtn {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: #5e07df;
    -fx-font-size: 14px;
}