.timerLbl {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-padding: 10;
}

.borderPane {
    -fx-background-image:  url("../../img/path.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.levelGrid{
    -fx-background-color: transparent;
}